<div class="jumbotron">


    <h1 class="display-4">Welcome to Move & Groove!</h1><br>
    <p class="lead">More than 75% of Americans Don't Exercise!</p>
    <p class="lead">Start keeping track of your exercises today!</p>


  

</div>
